<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.10"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.kit.kastel.sdq.mrs.design.Activator"
               id="edu.kit.kastel.sdq.mrs.design"
	       name="edu.kit.kastel.sdq.mrs.design">
    </component>
  </extension>
</plugin>
