<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="edu.kit.kastel.sdq.case4lang.wizards"
            class="edu.kit.kastel.sdq.mrs.newmrsprojectwizard.NewMrsProjectWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            id="edu.kit.kastel.sdq.mrs.newMrsProjectWizard"
            name="Mrs Project"
            project="true">
      </wizard>
   </extension>

</plugin>
